.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height: 40px;
    cursor: pointer;
}

.navbar-left-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    position: relative;
    left: 20px;
}

.navbar-links,
.auth-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
}


.navbar-links-dropdown {
    display: none;
}

.navbar-links a,
.auth-links a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    transition: color 0.3s;
}

.navbar-links a:hover,
.auth-links a:hover {
    opacity: 0.8;
}

.navbar-controls {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.search-bar {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    font-size: 0.9rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-bar::placeholder {
    opacity: 0.6;
}

.darkmode-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
    width: 25px;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

@media(max-width: 1300px) {
    .navbar-links {
        display: none;
    }

    .navbar-links {
        display: none;
    }

    .navbar-logo:hover+.navbar-links-dropdown {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        z-index: 100;
        top: 4rem;
        left: 0;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

    .navbar-links-dropdown a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #060F16;
    }

    .navbar-links-dropdown a:hover {
        opacity: 0.8;
    }


    .navbar {
        padding: 0.8rem 1.8rem;
    }

    .navbar-logo {
        height: 35px;
    }

    .navbar-controls {
        gap: 0.7rem;
    }

    .search-bar {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }


    .profile-img {
        height: 30px;
        width: 30px;
    }

    .auth-links a {
        font-size: 1.1rem;
    }
}